@charset "UTF-8";
/* css document*/
.purple-col{
    background-color: #FF9933;
    color:#FFFFFF;
}

.red-col{
    background-color: #138808;
    color:#FFFFFF;
}

.green-col{
    background-color: #000080;
    color: #FFFFFF;
}
